body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7cc;
    position: sticky;
    top: 0;
    z-index: 1;
}
.whole-header {
    height: 100%;
    width: 996px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.upper-pra {
    height: 53px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside-pra {
    height: 100%;
    width: 2195px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #1d1d1f;
    font-family: sans-serif;
}
#arrow {
    height: 26px;
    width: 13px;
    color: #0066cc;
}
#pra {
    margin: 0;
    padding: 0;
}
#learn {
    color: #0066cc;
}
.iphone {
    width: 100%;
    height: 2112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.iphone-pro-pic {
    width: 100%;
    height: 692px;
    object-fit: cover;
}   
.iphone-pic {
    width: 100%;
    height: 692px;
    object-fit: cover;
}
.ipad-pic {
    width: 100%;
    height: 692px;
    object-fit: cover;
}
.iphone-pro-pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.whole-iphone-pro {
    position: relative;
    height: 692px;
    width: 100%;
}
.iphone-pro {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headline {
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: white;
}
.subhead {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}
.links {
    height: 44px;
}
.learn {
    height: 100%;
    width: 130px;
    color: white;
    font-size: 17px;
    background-color: #0071e3;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.buy {
    height: 100%;
    width: 73px;
    color: #2997ff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 1px solid #2997ff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
.whole-pra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-between;
    margin-top: 55px;
}
.whole-iphone-regular {
    height: 692px;
    width: 100%;
    position: relative;
}
.iphone-pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.iphone-button {
    height: 44px;
    display: flex;
    gap: 15px;
}
#Learn {
    color: black;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f7;
    height: 100%;
    width: 130px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buy {
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 73px;
}
.iphone-regular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.whole-ipad {
    position: relative;
    height: 692px;
    width: 100%;
}
.ipad-pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.ipad-pra {
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 0;
}
#ipad-pic {
    height: 44px;
    width: 200px;
}
.ipad-whole-pra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    justify-content: space-between;
}
.ipad {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gradient {
    background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
    background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homepage-section {
    height: 1776px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.homepage-whole-section {
    height: 580px;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#watch-logo-pic {
    height: 33px;
    width: 33px;
}
#watch-pic {
    font-size: 35px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
#series {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.hehe {
    display: flex;
}
#classic {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 13px 0px;
}
.watch-homepage-whole {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}
.homepage-pics {
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 
.homepage-pics1 {
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 
#homepage-learn {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0071e3;
    border-radius: 25px;
    height: 36px;
    width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#homepage-buy {
    height: 36px;
    width: 62px;
    color: #2997ff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #0071e3;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.homepage-button {
    height: 36px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
h2 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    color: white;
}
.air-pod-pra1 {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0px;
    color: white;
}
.air-pods-whole {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}
#macbook-air {
    color: black;
}
#lean {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.macbook-air-whole {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}#macbook-air {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
#Apple-homepage {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-align: center;
    height: 100px;
    width: 300px;
    margin: 0;
}
#business-buttom {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0071e3;
    color: white;
    height: 36px;
    width: 104px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Hardware-homepage {
    font-size: 20px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    height: 45px;
    width: 300px;
    text-align: center;
}
.business-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    justify-content: start;
}
#carrier {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    color: black;
}
#get {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 4px;
    height: 40px;
    width: 420px;
    text-align: center;
}
#find {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0071e3;
    border-radius: 25px;
    height: 36px;
    width: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrier-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
    justify-content: end;
}
#trade-in-pic {
    height: 32px;
    width: 32px;
}
#trade-in {
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
}
.trade-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
}
#credit-in {
    height: 40px;
    width: 350px;
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    text-align: center;
}
#your {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0071e3;
    height: 36px;
    width: 145px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
}
.trade-homepage-whole {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    justify-content: start;
    flex-direction: column;
}
.gallery {
    width: 100%;
    height: 705px;
    overflow: hidden;
}
.running-gallery {
    overflow: hidden;
    margin-top: 20px;
}
.running-gallery:hover {
    animation-play-state: paused;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.whole-running-gallery img {
    height: 236px;
    width: 417px;
}
.running-gallery-pic {
    height: 100%;
    object-fit: contain;
}

.whole-running-gallery {
    display: flex;
    flex-direction: row;
    animation: 30s slide infinite linear;

    
}
/* .whole-running-gallery:hover {
    animation: 40s slide infinite linear;
} */
.gallery-pic {
    height: 667px;
    width: 1250px;

}
@keyframes gallery {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.gallery-pics {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    animation: 20s gallery infinite linear;
}
.gallery-pics:hover {
    animation: 30s gallery infinite linear;
}
.li {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0;
    color: gray;
}
.empty {
    width: 100%;
    height: 56px;
}
footer {
    width: 100%;
    height: 2512px;
    background-color: #f5f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    height: 100%;
    width: 51%;
    margin: 0px 608px;
    padding: 0px 22px;
    display: flex;
    flex-direction: column;
}
.whole-content {
    width: 100%;
    height: 1900px;
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: rgb(155, 155, 155);
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
#footer-line {
    height: 1px;
    width: 100%;
    background-color: rgb(155, 155, 155);
}
.footer-category {
    height: 439px;
    padding: 20px 0px 0px;
    display: flex;
}
.whole-list {
    height: 439px;
    width: 196px;
}
.list-header {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(69, 69, 69);
}
.lists {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(119, 119, 119);
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-decoration: underline;

}
.haha {
    text-decoration: underline;
}
.inside-list{
    margin: 5px 0px;
}
.footer-footer {
    height: 106px;
    width: 100%;
    padding: 37px 0px 11px;
}
.more-footer {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000008f;
    height: 36px;
    width: 100%;
}
#footer-line1 {
    height: 1px;
    width: 100%;
    background-color: #0000008f;
}
.last-footer {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    justify-content: space-between;
}
#more-ways {
    margin: 0;
}
.copyright {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000008f;
    margin: 0;
}
.privacy {
    text-decoration: underline;
}
.all {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000008f;
    margin: 0px 263px 0px 0px;
}
.united {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000008f;
    text-decoration: underline;
}
.last-footer .asd {
    justify-content: end;
}
.special {
    color: #0066cc;
    text-decoration: underline;
}